<div class="card">
  <div class="card-header" style="background-color: powderblue">
    Register - Template Form
  </div>

  <div class="card-body">
    <form novalidate (ngSubmit)="saveRegisterForm(registerForm)" #registerForm="ngForm">
      
   
      <div class="form-group mb-2">
        <label for="usernameId">Username</label>
        <input
          type="text"
          class="form-control"
          id="usernameId"
          name="username"
          ngModel
          required
          #username="ngModel"
        />
        <div *ngIf="username.invalid && username.touched" class="text-danger">
          Username is required.
        </div>
      </div>

   
      <div class="form-group mb-2">
        <label for="emailId">Email</label>
        <input
          type="email"
          class="form-control"
          id="emailId"
          name="email"
          ngModel
          required
          email
          #email="ngModel"
        />
        <div *ngIf="email.invalid && email.touched" class="text-danger">
          <div *ngIf="email.errors?.['required']">Email is required.</div>
          <div *ngIf="email.errors?.['email']">Invalid email format.</div>
        </div>
      </div>

      
      <div class="form-group mb-2">
        <label for="passwordId">Password</label>
        <input
          type="password"
          class="form-control"
          id="passwordId"
          name="password"
          ngModel
          required
          #password="ngModel"
        />
        <div *ngIf="password.invalid && password.touched" class="text-danger">
          Password is required.
        </div>
      </div>

     
      <button type="submit" class="btn btn-primary mt-3" [disabled]="registerForm.invalid">
        Register
      </button>
      
    </form>
  </div>
</div>
